<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!--
            the bundle identifier. It MUST BE UNIQUE
        -->
        <key>CPBundleIdentifier</key>
        <string>org.mhive.toolbar.profile</string>

        <!--
            The default locale to use
        -->
        <key>CPBundleLocale</key>
        <string>en</string>

        <!--
            Version of this plist file. Must be 1.0
        -->
        <key>CPBundleInfoDictionaryVersion</key>
        <string>1.0</string>

        <!--
            The package type. Must be 280N
        -->
        <key>CPBundlePackageType</key>
        <string>280N</string>

        <!--
            The version of CPBundle. Must be 1.0
        -->
        <key>CPBundleVersion</key>
        <string>1.0</string>

        <!--
            The name of the bundle
        -->
        <key>CPBundleName</key>
        <string>Profile</string>

        <!--
            The main class of the module.
        -->
        <key>CPPrincipalClass</key>
        <string>TestModuleController</string>

        <!--
            The plugin display name. This will be display as name of
            the module in the GUI
        -->
        <key>PluginDisplayName</key>
        <dict>
            <key>en</key>
            <string>Profile Module</string>
            <key>de</key>
            <string>Profile Modul</string>
        </dict>

        <!--
            The desired tabulation index. If two module have the same tabIndex,
            they are displayed in the load order.
        -->
        <key>ToolbarIndex</key>
        <integer>5</integer>

        <key>ToolTip</key>
        <string></string>

        <!--
            The type of the module. It can be
             - tab : for tabbed modules
             - toolbar : for general module displayed in toolbar
        -->
        <key>InsertionType</key>
        <string>toolbar</string>

        <!--
            This defines on which entity type the module have to been displayed. It
            can be the following :
             - virtualmachine
             - hypervisor
             - group
             - user
        -->
        <key>SupportedEntityTypes</key>
        <array>
            <string>encoding</string>
            <string>server</string>
            <string>profile</string>
            <string>worker</string>
            <!-- <string>general</string> -->
        </array>

        <!--
            If set to 0, the module will not register menu item
        -->
        <key>UseModuleMenu</key>
		<integer>1</integer>
        <key>ToolbarItemOnly</key>
		<integer>0</integer>

        <!--
            If set to 1, the module will expand with the window. Otherwise,
            you are responsible for the height of the module
        -->
        <key>FullscreenModule</key>
        <integer>1</integer>


        <!--
            This is the minimal required set of permissions you need
            to be able to display the module.
        -->
        <!--
        <key>MandatoryPermissions</key>
        <array>
            <string>perm_name_A</string>
            <string>perm_name_B</string>
        </array>
        -->

        <!--
            This indicate to the module loader which CIB to load.
            It must be the fileName without the .cib extension
        -->
        <key>CibName</key>
        <string>SampleTabModule</string>
    </dict>
</plist>
