<div class="menu"><div class="menuleft"></div>
<div class="menuentry"><a href="upload.shtml">File Upload</a></div>
<div class="menuentry"><a href="index.shtml?page=files">File List</a></div>
<div class="menuentry"><a href="profiles.shtml">Encoding Profiles</a></div>
<div class="menuright"></div>
</div>
<br>

