<div class="menu"><div class="menuleft"></div>
<div class="menuentry"><a href="upload">File Upload</a></div>
<div class="menuentry"><a href="file">File List</a></div>
<div class="menuentry"><a href="profile">Encoding Profiles</a></div>
<div class="menuright"></div>
</div>
<br>

